@model BiletPortal.Models.HallInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Detaylar</h1>

<div>
    <h4>Ürünler</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HallName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HallName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationInformation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationInformation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Hallid">Düzenle</a> |
    <a asp-action="Index">Back to List</a>
</div>
